body{
    border: 1px solid black;
    height: 50px;
    width: 200px;
    border-radius: 20px;
	border:2px solid black;
}

.container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.green{
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.yellow{
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}